svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.header-nav__logout {
    background: #f9f9f9;
    border: 1px solid #bba99a;
    position: absolute;
    right: 0;
    margin-right: 10%;
    padding: 10px 30px;
    transform: translate(0px, -15px);
    box-sizing: border-box;
    color: #bba99a;
    font-size: 15px;
}

.admin__content--title {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: #bba99a;
}

.admin__content__inner {
    margin: 0 10%;
}

.admin__content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-and-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* モーダルの基本スタイル */
.modal {
    display: none; /* 初めは非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
    z-index: 1; /* 最前面に表示 */
}

/* モーダルのコンテンツ部分 */
.modal-content {
    position: relative;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 閉じるボタン */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    text-decoration: none;
}

/* モーダルを表示するためのリンク */
#modal:target {
    display: block; /* #modalがターゲットになると表示 */
}
