.contact__content {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact__content--title {
    text-align: center;
    font-size: 32px;
    color: #bba99a;
}

.contact-form--table {
    margin: 0 auto;
}

.contact-form--table__row {
}

.contact-form--table__th {

}
.contact-form--table__title {
    color: #bba99a;
}

.contact-form--table__title::after {
    content: "※";
    color: red;
}

.contact-form--table__title--building {
    color: #bba99a;
}

.contact-form--table__td {
    width: 20%;
}

.contact-form--table__td--content {
}

.contact-form--table-input-radio__label {
    color: #bba99a;
}

.contact-form--table-input-radio {
    accent-color: #bba99a;
}

.contact-form__table-input--detail {
    width: 250%;
    height: 150px;
}

.contact-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.contact-form__button-submit {
    background: #bba99a;
    color: #fff;
    padding: 10px 25px;
}
