* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #F2ECE7;
}

.header-nav__register {
    background: #f9f9f9;
    border: 1px solid #bba99a;
    position: absolute;
    right: 0;
    margin-right: 10%;
    padding: 10px 30px;
    transform: translate(0px, -15px);
    box-sizing: border-box;
    color: #bba99a;
    font-size: 15px;
}

.login-content {
margin:  15px auto;
text-align: center;
}

.login-content--title {
    color: #bba99a;
}

.login-content__inner {
    margin:15px 20%;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #E6E3DD;
    border-radius: 3px;
}

.login-content-form--title {
    margin: 10px auto;
    color: #bba99a;
}

.login-content-form__email-input {
    margin: 0 auto;
    padding: 15px auto;
}

.login-content-form__password-input {
    margin: 0 auto;
    padding: 15px auto;
}

.login-content-form__button {
    margin: 15px auto;
}

.login-content-form__button-submit {
    padding: 10px 20px;
    background-color: #bba99a;
    color: #fff;
}
