html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.thanks__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.thanks__content-item {
    margin: 15px;
    text-align: center;
    color: #bba99a;
}

.thanks-form__button {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.thanks-form__button-home {
    padding: 10px 20px;
    background: #bba99a;
    color: #fff;
}
